#*******************************************************************************
 * Copyright 2015 MobileMan GmbH
 * www.mobileman.com
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ******************************************************************************#

<html>
#parse( "email-header.vm" )
<body>
<div class="content">
	<table class="tableBackground" width="100%">
		<tr>
			<td>
				<div class="logo"></div>
			</td>
		</tr>
	</table>
<div style="padding: 30px;">
	<table>
		<tr>
			<td>
				<div class="title">KURAVIS Neuigkeiten f&uuml;r ${user.name}.</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="normalText">
					<table>
						#foreach( $followedEntity in $user.followedEntities)
							#if ($followedEntity.entityType == "disease")
							<tr>
								<td>
									Neue Behandlungen für $summariesByDisease[$followedEntity.entityId][0].disease.name
								</td>
							</tr>
							<tr>
								<td>
									#foreach( $summary in $summariesByDisease[$followedEntity.entityId] )
									<ul>
										<li>Behandlung <a href="https://${dns_server_name}/summary/$summary.get_id()">$summary.treatment.name</a></li>
									</ul>
									#end
								</td>
							</tr>
							#end
						#end
					</table>
					<br />
					<table>
						#foreach( $followedEntity in $user.followedEntities)
							#if ($followedEntity.entityType == "treatmentreviewsummary")
							<tr>
								<td>
									Neue Updates für  $reviewsBySummary[$followedEntity.entityId][0].treatment.name von $reviewsBySummary[$followedEntity.entityId][0].disease.name
								</td>
							</tr>
							<tr>
								<td>
									#foreach( $review in $reviewsBySummary[$followedEntity.entityId] )
									<ul>
										<li><a href="https://${dns_server_name}/review/$review.get_id()">$review.author.name / $review.text / $review.rating</a></li>
									</ul>
									#end
								</td>
							</tr>
							#end
						#end
					</table>
					<br />
					<a href="https://${dns_server_name}/Nutzer/${user.get_id()}"><button class="btn btn-sm btn-default"><b>PROFILE</b></button></a>
					<br />
					<br />
					Vivi, die elektronische Brieftaube
					<br />
					<br />
				</div>
				<a href="https://${dns_server_name}/settings"><button class="btn btn-sm btn-default"><b>Unsubscribe</b></button></a>
				<br />
				<br />
				#parse( "email-social.vm" )
		  </td>
		</tr>
	</table>
</div>
</div>
#parse( "email-footer.vm" )
</body>
</html>