#*******************************************************************************
 * Copyright 2015 MobileMan GmbH
 * www.mobileman.com
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ******************************************************************************#
KURAVIS Neuigkeiten für ${user.name}.

#foreach( $followedEntity in $user.followedEntities)
#if ($followedEntity.entityType == "disease")
Neue Behandlungen für $summariesByDisease[$followedEntity.entityId][0].disease.name
#foreach( $summary in $summariesByDisease[$followedEntity.entityId] )
Behandlung $summary.treatment.name
#end

#end
#end

#foreach( $followedEntity in $user.followedEntities)
#if ($followedEntity.entityType == "treatmentreviewsummary")
Neue Updates für  $reviewsBySummary[$followedEntity.entityId][0].treatment.name von $reviewsBySummary[$followedEntity.entityId][0].disease.name
#foreach( $review in $reviewsBySummary[$followedEntity.entityId] )
$review.author.name / $review.text / $review.rating
#end

#end
#end

#parse( "email-footer-text.vm" )