#*******************************************************************************
 * Copyright 2015 MobileMan GmbH
 * www.mobileman.com
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 ******************************************************************************#

<html>
#parse( "email-header.vm" )
<body>
<div class="content">
	<table class="tableBackground" width="100%">
		<tr>
			<td>
				<div class="logo"></div>
			</td>
		</tr>
	</table>
<div style="padding: 30px;">
	<table>
		#if(${userName})
			<tr>
				<td>
					<div class="title">Hallo ${userName}</div>
				</td>
			</tr>
		#else
		#end
		<tr>
			<td>
				<div class="normalText">
					<br />
					Um Ihre Anmeldung abzuschlie&szlig;en, best&auml;tigen Sie bitte mit nachfolgendem Hyperlink: 
					<br /><br />
				</div>
				<a href="https://${dns_server_name}/activate/${activationUuid}"><button class="btn btn-sm btn-default"><b>Konto aktivieren</b></button></a>	
				<br />
				<br />
				<br />
				<div class="normalText">
					Vivi, die elektronische Brieftaube   
					<div class="subtitle">
					<br />
					</div>
				</div>
				#parse( "email-social.vm" )
		  </td>
		</tr>
	</table>
</div>
</div>
#parse( "email-footer.vm" )
</body>
</html>
